*{
   margin: 0px;
   padding: 0px;
   scroll-behavior: smooth;
   font-family: 'Times New Roman', Times, serif;
   font-size: medium;
}


.navigation-bar {
  background-color: gray;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: blue;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.navigation-bar a.topnav{

}